h1 ,b {
    color: #39930d;
}
b
h1{
    font-size: 44px;
    
    font-weight: bold;
}
h3{
    color: #fff;
    font-size: 18px;

}
.wrapper{
    background-color: #ffff;
}

body{
    font-family:"Arial";
}
body{   
    background-color: #8dc63f
}

.text h2{
    font-size: 22px;
   
}    
.text i{
    color: #5a5a5a;
}
.phone{
    font-size: 22px;
   
    color: #39930d;
}
.hours{
    font-size: 14px;

    color: #5a5a5a;
}

.links h3,footer{
    background-color: #39930d;
}
.main_text p{
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}
footer p {
    font-size: 14px;
    color: #fff;

}
.links2  a{
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}